<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912093635338-gntdlmcg2p33jm6449hs0uonbk69drg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912093635338-gntdlmcg2p33jm6449hs0uonbk69drg0</string>
	<key>API_KEY</key>
	<string>AIzaSyDSpXdhB02OtUIRoWlLehSaz48EJgVTF0s</string>
	<key>GCM_SENDER_ID</key>
	<string>912093635338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldenplanet.GTM-V5</string>
	<key>PROJECT_ID</key>
	<string>fir-app-gtm</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-gtm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912093635338:ios:2babf9a86c4866dc4d50f3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-gtm.firebaseio.com</string>
</dict>
</plist>